﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>
        @ViewBag.Message <br />
        My First View is Working !!<br />
        <a asp-action="SupervisorInfo">
            Click here to see the info of supervisor
        </a>

    </div>
</body>
</html>
