﻿@model List<Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div>

    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Level</th>
            <th>Available</th>
        </tr>
            @foreach (var supervisor in Model)
            {
            <tr>
                <td>@supervisor.Name</td>
                <td>@supervisor.Id</td>
                <td>@supervisor.Level</td>
                <td>@supervisor.IsAvailable</td>
            </tr>
        }
            
        </table>
</body>
</html>
